{{ define "main" }}

<div class="band padForHeader">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">
        {{ .Content }}

        <div>
          <div class="tableContainer">
            {{ partial "calendar.html" . }}
          </div>
        {{ $show_archive := $.Site.Params.events.link_archive | default true }}
        </div>
      </div>

      <div class="column25">
        <div class="section">
          <div class="sectionTitle"><a href="#">Coding Abend</a></div>
      
          <div class="event">
            <div class="eventTitle">Jeden Donnerstag</div>
            <div class="eventDetails">
              Offener Abend für alle, die Lust haben, an ihren Projekten zu arbeiten und sich mit der Community auszutauschen.
            </div>
          </div>

          <div class="event">
            <div class="eventTitle">Und jeden ersten Donnerstag im Monat</div>
            <div class="eventDetails">
              Ist Premium-Coding Abend. Hier gibt es neben spannenden Themen und kurzen Vorstellungen
              auch noch gemeinsames Essen und Trinken.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
