<table>
    <thead>
    <tr>
    <th>Event</th>
    <th>Date</th>
    <th>Location</th>
    </tr>
    </thead>
    <tbody id="events">
      {{ $taxo := "author" }}
      {{ range sort (where $.Site.RegularPages "Section" "events") ".Date" }}
      {{ if ge (time .Date).Unix now.Unix }}
      <tr>
        <td><a href="{{ .Params.event_url }}">{{ .Title | markdownify }}</a></td>
        <td>{{ partial "pretty_date_ranges" . }}</td>
        <td>{{ with .Params.description }}{{ . | markdownify }}{{ end }}</td>
        <td>
          {{ with .Params.location }}
            {{ .name  }}
          {{ end }}
        </td>
      </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
<script>
    (async () => {
        const eventsBody = document.getElementById('events');
        const icalUrl = "{{ .Param "calendar.ical_url" }}";
        const today = new Date();
        const dateCutoff = new Date(new Date(today).setMonth(today.getMonth() + {{ .Param "calendar.lookahead_months" }}));
        console.log(dateCutoff);
        const icalContent = await fetch(icalUrl).then(response => response.text());
        const jcalData = ICAL.parse(icalContent);
        const component = new ICAL.Component(jcalData);
        const events = component.getAllSubcomponents("vevent")
            .map((event) => new ICAL.Event(event))
            .filter((event) => event.isRecurring() || event.startDate.toUnixTime()*1000 > today.getTime())
            .flatMap((event) => {
                if (!event.isRecurring()) {
                    return [event];
                }

                const iterator = event.iterator(event.startDate);
                const eventInstances = [];

                console.log(event.summary);
                for (let next = iterator.next(); next && (next.toUnixTime()*1000 < dateCutoff.getTime()); next = iterator.next()) {
                    if (next.toUnixTime()*1000 < today.getTime()) {
                        continue
                    }

                    const nextEvent = new ICAL.Event(new ICAL.Component(event.component.toJSON()));
                    nextEvent.startDate = new ICAL.Time({
                        year: next.year,
                        month: next.month,
                        day: next.day,
                        hour: next.hour,
                        minute: next.minute,
                        second: next.second,
                        isDate: next.isDate,
                    });
                    eventInstances.push(nextEvent);
                }

                return eventInstances;
            })
            .sort((a,b) => a.startDate.compare(b.startDate))
            .map((event) => {
                const row = document.createElement("tr");
                const eventName = document.createElement("td");
                const dateCol = document.createElement("td");
                const location = document.createElement("td");

                eventName.innerText = event.summary;
                dateCol.innerText = `${event.startDate.year}-${("00"+event.startDate.month).slice(-2)}-${("00"+event.startDate.day).slice(-2)}`;
                if (!event.startDate.isDate) {
                    dateCol.innerText += ` ${("00"+event.startDate.hour).slice(-2)}:${("00"+event.startDate.minute).slice(-2)}:${("00"+event.startDate.second).slice(-2)}`;
                }
                location.innerText = event.location;

                row.append(eventName, dateCol, location);
                return row;
            });
        eventsBody.append(...events);
    })();
</script>
