<table>
    <thead>
    <tr>
    <th>Event</th>
    <th>Start</th>
    <th>Ende</th>
    <th>Location</th>
    </tr>
    </thead>
    <tbody id="events">
    </tbody>
  </table>
<script>
    const formatDate = (date) => {
        if (date.isDate) {
            date.addDuration(new ICAL.Duration({days: -1}))
        }

        let result = `${date.year}-${("00"+date.month).slice(-2)}-${("00"+date.day).slice(-2)}`;
        if (!date.isDate) {
            result += ` ${("00"+date.hour).slice(-2)}:${("00"+date.minute).slice(-2)}:${("00"+date.second).slice(-2)}`;
        }
        return result;
    };

    (async () => {
        const eventsBody = document.getElementById('events');
        const icalUrl = "{{ .Param "calendar.ical_url" }}";
        const today = new Date();
        const dateCutoff = new Date(new Date(today).setMonth(today.getMonth() + {{ .Param "calendar.lookahead_months" }}));
        console.log(dateCutoff);
        const icalContent = await fetch(icalUrl).then(response => response.text());
        const jcalData = ICAL.parse(icalContent);
        const component = new ICAL.Component(jcalData);
        const events = component.getAllSubcomponents("vevent")
            .map((event) => new ICAL.Event(event))
            .filter((event) => event.isRecurring() || (event.endDate && event.endDate.toUnixTime()*1000 > today.getTime()) || event.startDate.toUnixTime()*1000 > today.getTime())
            .flatMap((event) => {
                if (!event.isRecurring()) {
                    return [event];
                }

                const iterator = event.iterator(event.startDate);
                const eventInstances = [];

                console.log(event.summary);
                for (let next = iterator.next(); next && (next.toUnixTime()*1000 < dateCutoff.getTime()); next = iterator.next()) {
                    if (next.toUnixTime()*1000 < today.getTime()) {
                        continue
                    }

                    const nextEvent = new ICAL.Event(new ICAL.Component(event.component.toJSON()));
                    nextEvent.startDate = new ICAL.Time({
                        year: next.year,
                        month: next.month,
                        day: next.day,
                        hour: next.hour,
                        minute: next.minute,
                        second: next.second,
                        isDate: next.isDate,
                    });
                    if (nextEvent.endDate) {
                        const nextEnd = next.clone();
                        nextEnd.addDuration(event.duration);

                        nextEvent.endDate = new ICAL.Time({
                            year: nextEnd.year,
                            month: nextEnd.month,
                            day: nextEnd.day,
                            hour: nextEnd.hour,
                            minute: nextEnd.minute,
                            second: nextEnd.second,
                            isDate: nextEnd.isDate,
                        })
                    }

                    eventInstances.push(nextEvent);
                }

                return eventInstances;
            })
            .sort((a,b) => a.startDate.compare(b.startDate))
            .map((event) => {
                const row = document.createElement("tr");
                const eventName = document.createElement("td");
                const startCol = document.createElement("td");
                const endCol = document.createElement("td");
                const location = document.createElement("td");

                eventName.innerText = event.summary;
                startCol.innerText = formatDate(event.startDate);
                endCol.innerText = formatDate(event.endDate);
                location.innerText = event.location;

                row.append(eventName, startCol, endCol, location);
                return row;
            });
        eventsBody.append(...events);
    })();
</script>
