        <div id="rStudioFooter" class="band">
          <div class="bandContent">
            <div id="copyright">
             <a href="/verein-impressum">Impressum/Kontakt</a>
             <a href="/verein-datenschutz">Datenschutz</a>
            </div>
            <div id="logos">
              <a href="{{ .Param "footer.github_url" }}" class="footerLogo gitHub" aria-label="Opendata-Heilbronn GitHub organization"></a>
              <a href="{{ .Param "footer.mastodon_url" }}" class="footerLogo mastodon" aria-label="cfhn on chaos.social"></a>
            </div>
          </div>
        </div>

      </div>  <!-- main -->
    </div>  <!-- app -->

    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}

  </body>
</html>
